<h1>Listing Patients du Médecin</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.nom %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>